<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication"
    tools:ignore="ExtraText">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="MissingClass">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HighscoreActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.RulesActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity">
        </activity>
    </application>

</manifest>